body {
    background-color: #212121;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}

.container {
    display: flex;
    height: calc(100vh - 70px);
}

.sidebar {
    width: 220px;
    background-color: #333;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    position: fixed; /* Fija la barra lateral */
    height: 100%; /* Asegura que ocupe toda la altura */
}

.sidebar.active {
    transform: translateX(-220px);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.sidebar ul li a:hover {
    background-color: rgb(125, 180, 54);
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 280px; /* Espacio para la barra lateral */
    margin-right: 20px; /* Espacio a la derecha */
    margin-top: 20px; /* Espacio superior para separación */
    overflow-y: auto;
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form input,
form select,
form button,
form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

form button {
    background-color: rgb(125, 180, 54);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #9acd6b;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #444;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #444;
}

tbody tr:hover {
    background-color: #555;
}

fieldset {
    border: 1px solid #444;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

legend {
    font-weight: bold;
    color: rgb(125, 180, 54);
}

.password-requirements {
    color: #ffcc00; /* Color para advertir sobre requisitos */
    font-size: 12px;
    margin-top: 5px;
}

.hidden {
    display: none;
}

