body{
    background-color: #212121;
    font-family: Arial, sans-serif;
}


/*login*/

.seccion-login{
    height: 800px;
    display: flex;
}


.contenedor-login {
    width: 50%;
    margin-top: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  .formulario-login {
    width: 500px;
    height: 500px;
    background-image: linear-gradient(to bottom, #424242, #212121);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
  }
  
  .title {
    color: rgb(125, 180, 54);
    margin: 3rem 0;
    font-size: 2rem;
  }
  
  input {
    margin: 0.5rem 0;
    padding: 1rem 0.5rem;
    width: 20rem;
    background-color: inherit;
    color: rgb(125, 180, 54);
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(125, 180, 54);
    transition: all 400ms;
  }
  input:hover {
    background-color: #424242;
    border: none;
    border-radius: 0.5rem;
  }
  .boton-login {
    height: 3rem;
    width: 20rem;
    margin-top: 3rem;
    background-color: #363636;
    color: rgb(125, 180, 54);
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    transition: all 400ms;
    cursor: pointer;
    box-shadow:
      0 0 10px rgb(125, 180, 54),
      0 0 10px rgb(125, 180, 54);
  }
  .boton-login:hover {
    background-color: rgb(125, 180, 54);
    color: #000000;
    box-shadow: none;
    transition: 1s;
   
  }

  .contenedor-logo{
    width: 50%;
    margin-top: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .logo{
    width: 550px;
    height: 500px;
  }
  

  .error{
    color: red;
  }